body {
    background-color: #646464;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    background-color: #FFF;
    // background-image: url('./img/background.png');
    // background-size: auto;
    // background-position: center;
    // width: 350px;
    // height: 350px;
}